<main>
  <section class="bg-white">
    <div class="py-4 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Pustaka Ilmu</h2>
            <p class="text-gray-500 sm:text-xl">Menyajikan artikel-artikel menarik seputar pembahasan ilmu agama.</p>
        </div>
    </div>
    <div class="mb-10">
      <app-newslist />
    </div>
    <div class="flex items-center justify-center">
      <app-pagination />
    </div>
  </section>
</main>
