<main>
    <section class="bg-white">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-xl mb-4 text-3xl font-extrabold tracking-tight leading-none md:text-3xl xl:text-5xl">Temukan kedamaian melalui belajar Al-Qur’an bersama kami</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">Tingkatkan koneksi spiritual Anda dengan layanan kami yang menginspirasi. Mulai perjalanan spiritual Anda hari ini!</p>
                <a routerLink="/program" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300">
                    Mulai sekarang
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
                <a routerLink="/" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100">
                    Hubungi kami
                </a>
            </div>
            <div class="hidden lg:mt-6 lg:col-span-5 lg:block">
              <div id="productPhotos" class="w-3/4 items-center justify-center">
                <app-carousel [items]="heros" [customOptions]="photoOptions" [type]="2" />
              </div>
            </div>
        </div>
    </section>
    <section id="galleryPhotos" class="bg-white mb-8">
      <app-carousel [items]="galleries" [customOptions]="galleryOptions" [type]="1" />
    </section>
    <app-clients [items]="clients" />
    <app-feature
      title="Membangun spirit berilmu dan beramal sholeh"
      desc="Fokus kami memberikan pembekalan ilmu agama di lingkungan perusahaan perkantoran, kantor dinas, majelis dan komunitas."
      [items]="features"
    />
    <app-cardlist ids="Program" title="Program Kami" [items]="programs" />
    <app-faq
      title="Sering Ditanyakan"
      followUp="Masih punya pertanyaan?"
      callUs="Hubungi kami"
      [questions]="faqs"
    />
</main>
