<section class="bg-white mb-4">
  <div class="py-6 mx-auto max-w-screen-xl sm:py-14">
    <div
      class="w-full flex justify-center flex-wrap sm:flex-row-reverse gap-10 p-4 md:pt-10"
    >
      <div class="px-4 max-w-3xl">
        <h2
          class="md:text-start text-center pt-2 font-extrabold text-[36px] md:text-[50px] leading-10 md:leading-[54px]"
        >
          {{ title }}
        </h2>

        <p
          class="md:text-start text-center py-8 text-xl md:text-2xl font-bold text-gray-600"
        >
          {{ desc }}
        </p>

        <div class="flex flex-col items-center md:items-start">
          <div
            class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-7 md:gap-10 md:space-y-0"
          >
            @for (item of items; track $index) {
            <div class="mt-8 lg:mt-0">
              <div
                class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12"
              >
                <div
                  [innerHTML]="
                    item.icon.content[0].content[0].value | sanitizedHtml
                  "
                ></div>
              </div>
              <span class="text-xl md:text-lg font-bold">{{
                item.fields.title
              }}</span>
            </div>
            }
          </div>
        </div>
      </div>

      <div class="relative max-w-lg flex justify-center items-center">
        <iframe
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          width="320"
          height="640"
          title="Video Player"
          style="
            box-shadow: 10px 10px 5px 12px rgb(209, 218, 218);
            overflow: hidden;
          "
          class="rounded-xl border-4 border-black"
          type="text/html"
          [src]="youTubeUrl | safe : 'yt'"
          allow="
              accessibility-events; accelerometer;
              autoplay; encrypted-media; picture-in-picture; clipboard-write;
              gyroscope;web-share"
        >
        </iframe>

        <span
          class="absolute -right-1 top-28 border-4 border-black h-10 rounded-md"
        ></span>
        <span
          class="absolute -right-1 top-[220px] border-4 border-black h-24 rounded-md"
        ></span>
      </div>
    </div>
  </div>
</section>
